* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
    padding: 0.8rem;
    align-items: center;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 100;
    opacity: 75%;
}

#plus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 0.8rem;
    width: 3.3rem;
    height: 3.3rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);
    transition: 1.2s;
}

#plus-btn:hover {
    transform: rotate(360deg);
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.24);
}

.img-add {
    opacity: 72%;
    width: 1.3rem;
}

#note-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.5rem;
    margin: 1rem;
}

.blur {
    transition: 0.4s;
    filter: blur(1.2px);
}

.note {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(66, 66, 66, 0.199);
    padding: 0.8rem;
    border-radius: 1rem;
    height: 13rem;
    width: 13rem;
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

.note:hover {
    cursor: pointer;
    transform: translateY(-4px);
}

.note-title {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-wrap: wrap;
    word-break: break-all;
}

.note-description {
    display: flex;
    text-align: left;
    font-size: 13px;
    color: rgb(65, 65, 65);
    margin-top: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 11rem;
    text-wrap: wrap;
    word-break: normal;
    overflow-wrap: anywhere;

}

#popup {
    display: none;
    position: fixed;
    justify-content: space-around;
    width: 20rem;
    height: 20rem;
    top: 48%;
    left: 50%;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.24);
    border-radius: 4%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* Garante que fique por cima de tudo */
}

#popup-content {
    display: flex;
    flex-direction: column;
}

#title-add {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15.3px;
    margin: 1.5rem 0.5rem 1rem 0.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    resize: none;
    width: 18rem;
    padding-bottom: 0.3rem;
    resize: none;
    overflow: hidden;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}

#description-add {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 0rem 1rem 1rem 0.6rem;
    text-wrap: wrap;
    height: 5.3rem;
    border: none;
    resize: none;
    outline: none;
}

#note-btn-container {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

#note-add {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    border: none;
    margin-top: 2.5rem;
    font-weight: 100;
    box-shadow: 0px 0px 2px rgba(14, 170, 0, 0.322);
    background-color: rgb(255, 255, 255);
    color: darkgreen;
    font-weight: bold;
    padding: 1rem;
    border-radius: 6%;
    transition: 0.6s;
    width: 6rem;
}

#note-add:hover {
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(14, 170, 0, 0.623);


}

#note-cancel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    border: none;
    margin-top: 2.5rem;
    font-weight: 100;
    box-shadow: 0px 0px 2px rgba(255, 0, 0, 0.322);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 6%;
    transition: 0.6s;
    color: rgb(212, 0, 0);
    font-weight: bold;

    width: 6rem;
}

#note-cancel:hover {
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(255, 0, 0, 0.623);

}

#color-container {
    display: flex;
    justify-content: start;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.color-picker {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color-circle {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.color-circle.select {
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.2);
}


.icon-credit {
    font-size: 12px;
    position: fixed;
    bottom: 1px;
    right: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:900px) {
    .note-container {
        gap: 2rem;
        justify-content: center;
    }

}